#navbar{
    padding: 2%;
    .lists{
        ul{
            @include flex1 (space-between,center);
            li{
                list-style: none;
                cursor: pointer;
            }
            p{
                margin: 0;
                cursor: pointer;
            }
            .az{
            background: $secondcolor;
            border-radius: 35px;
            padding: 0.7% 2%;
            }
            .sari{
                border-radius: 50%;
                background:$maincolor;
                padding: 9px 11px 13px 10px;
               @include flex1(center,center)
            }
        }
    }
}
#header{
   background:$secondcolor;
   padding: 3%;
   border-radius: 30px;
   width: $wight9;
   margin: auto;
    .head-1{
        .button-1{
            button{
            background-color:$blackkk;
            @include zeynab(white,none,40px,4px 30px 4px 30px);
            }
        }
        .bigtext1{
            h1{
                font-weight: $font7;
                font-size: 60px;
                width:$wight7;
            }
        }
        .smalltext1{
            p{
                font-size: small;
                width: $wight7;
            }
        }
        .foothead{
            @include flex1(space-around,center);
            width: $wight7;
            .button-2{
                button{
                    background-color: $maincolor;
                    @include zeynab($blackkk,none,40px,10px 25px 10px 25px);
                }
            }
            .textfoot{
                font-size: small;
                p{
                    margin: 0;
                }
             .grayt{
                color:$blackkk;
            }
            .redt{
                color: red;
            }   
            }
        }
    }
    .aside{
        .asideimg{
            img{
                @include img(400px,400px,10px,cover);
            }
        }
        .iconaside{
            ul{
                @include flex1(end,center);
                width: $wight6;
                gap: 10px;
                width: 100%;
                li{
                    list-style: none;

                }
            }
        }
        .swiper {
            width: 100%;
            height: 100%;
          }
    
          .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
    
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
          }
    
          .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
    }
    
}
#main1{
    padding: 5%;
.textmain{
    width:$wight6;

  .biggg{
    font-size: 40px;
    font-weight: $font7;
  }  
  p{
      font-size: 20px;
  }
}
.mbuttons{
    width: 40%;
    button{
        @include button(inherit,50px,6px 12px 6px 12px,12px);
        span{
            font-size: small;
            font-weight: $font6;
        }
        
    }
    .yellow{
        background-color: $maincolor;
        border: none;
    }
}
.border1000{
   @include bor1000(1px solid,15px,center,space-around);
   .yellowb{
       color:$maincolor;
       font-size: 40px;
       font-weight: $font7;
   }
}
}
#main2{
    .con{
        img{
            width: $wight9;
            padding: 5%;
            object-fit: cover;
        }
    }
}
#main3{
    .maintext3{
        margin-left: 60px;
        p{
            font-size: 40px;
            font-weight: $font7;
        }
    }
    .mainimg3{
        img{
            width: 100%;
            object-fit: cover;
            padding: 2%;
        }
    }
}
#main4{
    .con4{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        p{
            margin: 0;
        }
    }
    .con44{
        margin-right: 65px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        p{
            margin: 0;
        }
    }
}
#main5{
    margin-top: 4rem;
    .maintext5{
        margin-left: 60px;
        p{
            font-size: 40px;
            font-weight: $font7;
        }
        span{
            font-size: large;
        }
    }
    .container{
        position: relative;
        border: 1px solid;
        padding: 3%;
        margin-top: 3rem;
        display: flex;
        align-items: center;
       
        justify-content: center;
        width: 90%;
        .body5{
            position: absolute;
            top: 68px;
            left: 198px;
        }
        .line{
                width: 15%;
        }
        .ellips{
            width: 7%;
        }
        .head5{
            position: absolute;
            top: 45px;
            left: 210px;
        }
        .strelka{
            position: absolute;
            top: 63px;
            left: 670px;
        }
        .strellka{
            position: absolute;
            top: 63px;
            left: 435px;
        }
        .strel{
            position: absolute;
            bottom: 63px;
            right: 200px;
        }
    }
}
#main6{
    .maintext6{
        margin-left: 60px;
        p{
            font-size: 40px;
            font-weight: $font7;
        }
    }
    .flexcontainer{
        margin-top: 4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        padding: auto;
        width: 85%;
        img{
            width: 90%;
            object-fit: cover;
        }
        .flexcol{
            .bold{
                font-weight: $font7;
            }
        }
        .swiper {
            width: 100%;
            height: 100%;
          }
    
          .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
    
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
          }
    
          .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
    }
}
#main7{
    display: flex;
    padding: 3%;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: auto;
    .container7{
        border-radius: 20px;
        background-color: $blackkk;
        width: 23%;
        padding: 4px 8px;
        margin: auto;
       .flex7{
        display: flex;
        align-items: center;
.icon7{
    background-color: $maincolor;
    border-radius: 77px;
    display: flex;
    align-items: center;
    padding: 9px;
}
.textcol7{
    font-size: small;
    padding: 8px;
    color: #fff;
    span{
        font-weight: $font7;
      
        p{
          margin: 0;  
          
        }
    }
}
    } 
.text7{
  color: white;
    p{
        font-size: 12px;
    }
}
    }
}
#main8{
    margin: 3%;
    background-color: $blackkk;
    border-radius: 50px;
    .img8{
        img{
            width: 80%;
            object-fit: cover;
            height: 80%;
        }
        padding: 8px;
    }
    .text8{
        width: 80%;
        color: #fff;
        .big{
            font-size: 60px;
            font-weight: $font7;
        }
        p{
            font-size: small;
        }
        button{
            background-color: $maincolor;
            border: none;
            border-radius: 50px;
            padding: 4px 26px;
            span{
                font-weight: $font6;
            }
        }
    }
}
#main9{
    .text9{
        margin-left: 60px;
        width: 40%;
        font-size: larger;
        margin-top: 3rem;
        .big9{
            font-size: 40px;
            font-weight: $font7;
        }
    }
    .img9{
        img{
            width: 70%;
            object-fit: cover;
        }
    }
}
footer{
    background-color: $blackkk;
    padding: 3%;
    margin-top: 8rem;
}
#form{
    margin-top: 4rem;
    background-color: $secondcolor;
    border-radius: 50px;
    padding: 12px;
    .lefttext{
        width: 50%;
        font-size: large;
        .bold{
            font-size: 50px;
            font-weight: $font6;
        }
    }
    .rightform{
        form{
            margin-top: 2rem;
            input{
                width: 80%;
                padding: 12px;
                border: none;
                border-radius: 15px;
               display: flex;
               flex-direction: column;
               align-items: center;
               justify-content: space-between;
               
            }
            .uzun{
                height: 120px;
            }
        }
        .end{ 
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            button{
                background-color: $maincolor;
                border: none;
                padding: 6px 60px;
                border-radius: 50px;
                span{
                    font-weight: $font7;
                }
            }
            p{
                font-size: 8px;
                width: 50%;
                margin-left: 10px;
            }
        }
    }
}
#listfooter{
    color: white;
    margin-top: 5rem;
    border-bottom: 1px solid white;
    li{
        list-style: none;
    }
    .phone{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        p{
            margin: 0;
        }
    }
    .adres{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70%;
    }
    .icon{
        ul{
            display: flex;
            width: 90%;
            justify-content: space-between;
            align-items: center;
            margin-top: 4rem;
            padding: 0;
        }
    }
    .ul1,.ul2{
        font-size: 22px;
    }
}
#endfoot{
    margin: auto;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     text-align: center;
    p{
        color: white;
        margin-top: 1rem;
        font-size: small;
    }
}